!polkadot.service
.cargo-remote.toml
.direnv/
.DS_Store
.env*
**/hfuzz_workspace/
**/node_modules
**/target/
**/wip/*.stderr
**/__pycache__/
/.cargo/config
/.envrc
artifacts
bin/node-template/Cargo.lock
nohup.out
polkadot_argument_parsing
!docs/sdk/src/polkadot_sdk/polkadot.rs
pwasm-alloc/Cargo.lock
pwasm-libc/Cargo.lock
release-artifacts
release.json
rls*.log
runtime/wasm/target/
substrate.code-workspace
target/
*.scale
justfile
rustc-ice-*


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Python
**/__pycache__/

# Fuzzing
**/hfuzz_workspace/

# Exceptions
!docs/sdk/src/polkadot_sdk/polkadot.rs

# OS specific
.DS_Store
